@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Permanent+Marker&display=swap');
@import "tailwindcss";


@theme {
  --font-logo: "Libre Baskerville", sans-serif;

}

.logofont{
  font-family: var(--font-logo)
}

@keyframes marquee{
  0% {
    transform: translateX(0%)
  }
  100% {
    transform: translateX(-80%)
  }
}

@keyframes cards{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}


@layer utilities {
  .animate-marquee {
    animation: marquee 50s linear infinite ;
  }
  .animate-cards{
    animation: cards 3s ;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;   
    scrollbar-width: none;      
  }
}

